.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  padding: 0 85px 0 85px; 
}

.product-card:hover {
  cursor: pointer;
}

.product-image {
  height: 120px;
  border-radius: 8px;
}

.product-details {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.product-name {
  font-size: 18px;
  margin: 0;
}

.product-meta {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}

.product-category {
  font-size: 14px;
  color: #777;
}

.product-price {
  font-size: 14px;
  font-weight: bold;
}

.product-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.product-rating {
  font-size: 14px;
  color: #555;
}

.add-to-cart-button {
  color: black;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: white;
}

.add-to-cart-button i {
  font-size: 16px;
}

